<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Course</title>
    <link rel="stylesheet" type="text/css"
          href="../../../static/css/styles.css"
          th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Create Course</h1>

    <form th:action="@{/courses/create}" th:object="${course}" method="post">
        <p>Title: <input type="text" th:field="*{title}"/></p>

        <p>Start date: <input type="date" th:field="*{startDate}"/></p>

        <p>etcs: <input type="text" th:field="*{etcs}"/></p>

        <input type="submit" value="Create" class="btn btn-create"/>
    </form>
</div>
</body>
</html>