<!DOCTYPE html>
<html lang="en">
<head>

    <title>Student Details</title>
    <link rel="stylesheet" type="text/css"
          href="../../static/css/styles.css"
          th:href="@{css/styles.css}"/>

</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<div class="container">


    <h1>Details</h1>
    <p th:text="'ID: ' + ${stu.studentId}"/>
    <p th:text="'First Name: ' + ${stu.firstName}"/>
    <p th:text="'LastName: ' + ${stu.lastName}"/>
    <p th:text="'Enrollment Date: ' + ${stu.enrollmentDate}"/>
    <p th:text="'CPR: ' + ${stu.cpr}"/>

    <h2 th:text="'Enrollments for ' + ${stu.firstName} + ' ' + ${stu.lastName}"> </h2>

    <p>The content here will come later</p>

</div>
</body>
</html>